* {
    box-sizing: border-box;
}

#navtext {
    color: white;
    font-size: 40px;
}

#navbar {
    background-color: rgb(138, 171, 190);
    
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card-header {
    color: white;
    background-color: rgb(138, 171, 190);
}
